{% extends "base.html" %}
{% block content %}
    <h1>{{ time }}</h1>
    <div class="container-fluid text-center">
        <div class="row justify-content-md-center">
            {% for dh in data.dinning_halls %}
                <div class="col" style="width: 30rem; min-width: 20rem">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-start">{{ dh }}</h3>
                            <div class="accordion" id="mealAccordion">
                                {% for meal in data.get_dh(dh).meals.keys() %}
                                    <div class="accordion-item">
                                        <h4 class="accordion-header" id="heading{{ meal | string }}">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ meal | string }}"
                                                    aria-expanded="true"
                                                    aria-controls="collapse{{ meal | string }}">
                                                {{ meal }}
                                            </button>
                                        </h4>
                                        <div id="collapse{{ meal | string }}"
                                             class="accordion-collapse collapse {% if time %} show {% endif %}"
                                             aria-labelledby="heading{{ meal | string }}"
                                             data-bs-parent="#mealAccordion">
                                            <div class="accordion-body card-text">
                                                <ul class="list-group list-group-flush text-start">
                                                    {% for food in data.get_dh(dh).get_foods(meal) %}
                                                        <li class="list-group-item">{{ food }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}